.home {
    display: flex;
    flex-direction: column;
}

.homeSection {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    margin: 0 auto;
    margin-top: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;   
}

.heroSection {
    display: flex;
    justify-content: space-around;
    width: 65%;
    height: 100%;
    margin: 0 auto;
    margin-top: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.locateSectionContainer {
    display: flex;
    padding: 2rem;
    background: linear-gradient(to right, rgb(18, 18, 18), rgb(52, 51 ,203 ,255), rgb(52, 51, 203, 255), rgb(42, 41, 193, 245), rgb(42, 41, 193, 245), rgb(32, 31, 183, 235), rgb(18, 18, 18));
    border-radius: 2%;
}

.heroSectionContainer {
    display: flex;
}

.heroSectionCollageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid white;
    border-radius: 2%;
    background: linear-gradient(to right, rgb(18, 18, 18), rgb(52, 51 ,203 ,255), rgb(52, 51, 203, 255), rgb(42, 41, 193, 245), rgb(42, 41, 193, 245), rgb(32, 31, 183, 235), rgb(18, 18, 18));
}

.heroSectionImageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.1rem;
    padding: 0.5rem;
}

.heroSectionTopItemsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.5rem;
}

.heroHorizontalSectionImageContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1rem;
    padding: 0.5rem;
}

.heroMapContainer {
    display: flex;
    position: relative;
    width: 250px;
    height: 240px;
    border: solid 2px white;
    border-radius: 2%;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.heroMapContainer:hover,
.heroMap5Container:hover,
.heroMap6Container:hover,
.heroMap10Container:hover,
.heroMap11Container:hover {
    box-shadow: 0 0 15px 5px rgba(169, 169, 169, 0.6);
    border-color: rgba(116, 115, 115, 0.6);
}

.heroMap5Container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 250px;
    height: 100px;
    background: linear-gradient(to right, rgb(18, 18, 18), rgb(52, 51 ,203 ,255), rgb(52, 51, 203, 255), rgb(42, 41, 193, 245), rgb(42, 41, 193, 245), rgb(32, 31, 183, 235), rgb(18, 18, 18));
    border: solid 2px white;
    border-radius: 2%;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.heroMap6Container {
    display: flex;
    position: relative;
    width: 250px;
    height: 400px;
    border: solid 2px white;
    border-radius: 2%;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.heroMap10Container {
    display: flex;
    position: relative;
    width: 250px;
    height: 200px;
    border: solid 2px white;
    border-radius: 2%;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.heroMap11Container {
    display: flex;
    position: relative;
    width: 550px;
    height: 230px;
    border: solid 2px white;
    border-radius: 1%;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.heroMap11Item {
    object-fit: cover;
    transform: scale(1);
    transform-origin: center;
    border-radius: 1%;
}

.heroSectionButton {
    font-size: 1.5rem;
    background-color: linear-gradient(to right, rgb(18, 18, 18), rgb(52, 51 ,203 ,255), rgb(52, 51, 203, 255), rgb(42, 41, 193, 245), rgb(42, 41, 193, 245), rgb(32, 31, 183, 235), rgb(18, 18, 18));
    transition: background 0.3s ease;
}

.heroSectionButton:hover {
    background-color: black;
}

.howItWorksSectionContainer {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background: linear-gradient(to right, rgb(18, 18, 18), rgb(52, 51 ,203 ,255), rgb(52, 51, 203, 255), rgb(42, 41, 193, 245), rgb(42, 41, 193, 245), rgb(32, 31, 183, 235), rgb(18, 18, 18));
    border-radius: 2%;
}

.botSectionContainer {
    display: flex;
    padding: 1.5rem;
    background: linear-gradient(to right, rgb(18, 18, 18), rgb(52, 51 ,203 ,255), rgb(52, 51, 203, 255), rgb(42, 41, 193, 245), rgb(42, 41, 193, 245), rgb(32, 31, 183, 235), rgb(18, 18, 18));
    border-radius: 2%;
}

.homeTitles {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.locateSectionDescription {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 1.1rem;
}

.heroSectionMain {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 1rem;
}

.heroSectionDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.howItWorksDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-size: 1rem;
}

.botDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.mapSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapImage {
    border-radius: 5%;
    margin-right: 2rem;
}

.heroSectionImage {
    display: flex;
    align-items: space-between;
    width: 100%;
    height: 100%;
}

.stepByStepImageWrapper {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.stepByStepImage {
    object-fit: cover;
}

.botImageWrapper {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background-color: #424549;
}

.botImage {
    object-fit: cover;
}

.kafraSection {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 5rem;
}

.stepByStepSection {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.botSpecsSection {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    margin-bottom: 1rem;
}

.botInviteSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7rem;
}

.stepByStepItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroSectionTitleText {
    font-size: 4rem;
}

.stepByStepText {
    margin-top: 2rem;
    font-size: 0.8rem;
}

.kafraText {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    line-height: 1.2;
}

.botNameText {
    margin-top: 2rem;
    font-size: 0.9rem;
}

.inviteButton {
    border-radius: 0.25rem;
    background-color: #3b82f6;
    color: white;
    padding: 0.5rem 1.5rem;
    transition: background 0.2s ease;
}

.inviteButton:hover {
    background-color: #2563eb;
    cursor: pointer;
}